
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap 
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.breadcrumb {   
  background: none;
  padding: 0;
}

.card-button-red {
  color: red;
}

.card-button-green {
  color: green;
}